<!DOCTYPE html>
<html class="no-js"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Report Generator</title>
        <meta name="description" content="Report Generator used soley for Marco Solorzano">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="index.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="bg-light">
            <div class="container d-flex flex-column about py-5">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <h1 class="text-danger">Your Report Is Generated!</h1>
                        <p>
                            Its located in the same directory where your original spreadsheet was, named 'Report.xlsx'.
                        </p>
                        <h4 class="text-danger">Want To Create Another?</h4>
                        <a style="width: 25%;" href="" id="no" class="btn btn-lg btn-danger px-4">No</a>
                        <a style="width: 25%;" href="index.html" id="yes" class="btn btn-lg btn-success px-4">Yes</a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            const electron = require('electron');
            const remote = electron.remote;            
            console.log('Electron module loaded. \nDocument loading...');
            $(document).ready(() => {
                console.log('Document loaded...')
                $('#no').click((event) => {
                    console.log('App shutting down...')
                    remote.app.exit();
                });
            });            
        </script>
    </body>
</html>